<!--<nb-card class="card" >
  <nb-card-header class="slot">
    <div class="space space-component vcenter hleft col-md-12 background-transparent">
      <h6 class="text-basic"></h6>
      <p class="text-basic paragraph">Parameter 1
      </p>
      <input nbInput placeholder="" fieldSize="medium" type="text" shape="rectangle">
      <p class="text-basic paragraph">Parameter 2</p>
      <input nbInput placeholder="" fieldSize="medium" type="text" shape="rectangle">
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <div class="space space-component vtop hleft col-md-12 background-transparent">
      <p class="text-basic paragraph">Parameter 3
      </p>
      <input nbInput placeholder="" fieldSize="medium" type="text" shape="rectangle">
      <p class="text-basic paragraph">New Text</p>
      <input nbInput placeholder="" fieldSize="medium" type="text" shape="rectangle">
    </div>
  </nb-card-body>

  <nb-card-footer class="slot">
    <div class="space space-component vtop hleft col-md-12 background-transparent">
      <p class="text-basic paragraph">New Text</p>
      <input nbInput placeholder="" fieldSize="medium" type="text" shape="rectangle">
      <p class="text-basic paragraph">New Text</p>
      <input nbInput placeholder="" fieldSize="medium" type="text" shape="rectangle">
    </div>
  </nb-card-footer>
</nb-card>-->