<nb-card class="card" >
  <nb-card-header class="slot">
    <div class="space space-component vcenter hleft col-md-12 background-transparent">
      <h6 class="heading text-basic">Statistics</h6>
      <button nbButton class="right" size="medium" appearance="filled" status="info">
          Refresh
      </button>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <div class="space space-component1 vbottom hleft col-md-12 background-transparent">
      <h6 class="text-basic">Today's food</h6>
    </div>
    <div class="space space-component2 vtop hleft col-md-12 background-transparent">
      <h2 class="heading1 text-basic">20</h2>
      <nb-progress-bar status="primary" size="medium" value="75"></nb-progress-bar>
      <span class="text text-basic caption-2">More than last week (50%)</span>
    </div>
    <div class="space space-component1 vbottom hleft col-md-12 background-transparent">
      <h6 class="text-basic">New food</h6>
    </div>
    <div class="space space-component2 vtop hleft col-md-12 background-transparent">
      <h2 class="heading1 text-basic">10</h2>
      <nb-progress-bar status="primary" size="medium" value="100"></nb-progress-bar>
      <span class="text text-basic caption-2">Better than last week (100%)</span>
    </div>
    <div class="space space-component1 vbottom hleft col-md-12 background-transparent">
      <h6 class="text-basic">Wasted food</h6>
    </div>
    <div class="space space-component vtop hleft col-md-12 background-transparent">
      <h2 class="heading1 text-basic">0</h2>
      <nb-progress-bar status="primary" size="medium" value="0"></nb-progress-bar>
      <span class="text text-basic caption-2">Better than last week (100%)</span>
    </div>
  </nb-card-body>
</nb-card>