<div class="slot">
  <div class="space space-component vtop hleft col-md-12 background-transparent space-container">

    <div class="space space-component vtop hleft col-md-6 background-transparent">
          <div class = "line-chart">
            <canvas id="temperature"></canvas>
          </div>
    </div>

    <div class="space space-component vtop hleft col-md-6 background-transparent">
          <div class = "line-chart">
            <canvas id="humidity"></canvas>
          </div>
    </div>

    <div class="space space-component vtop hleft col-md-12 background-transparent">
      <app-card1></app-card1>
    </div>

  </div>
</div>